<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    @keyframes rotate {
        0% {
            transform: rotate(0)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    img{
        animation: rotate 2s linear infinite
    }
</style>
<body>
<a href="/text">Hello word!</a><img  src="/img/latala.gif">
<b th:text="${message}"></b>
<b th:text="${data}"></b><br>
<b th:each="m:${map}">
    <b th:text="${m.stduent}"></b>
    <b th:text="${m.title}"></b>
    <b th:text="${m.score}"></b><br>
</b>
</body>
</html>